# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.venv/
venv/
ENV/
env/
venv.bak/

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
cover/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pyre/

# Jupyter Notebook
.ipynb_checkpoints

# pytype
.pytype/

# Pycharm
.idea/

# VS Code
.vscode/

# Project specific
data/
output/
configs/
assets/